body {
    background-color: #A3B434;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    margin: 0;
}

.h1-Vue-class {
    background-color: #68558e;
    color: #feec2d;
    text-shadow: #5f4d1d 0px 7px;
}

.h1-normal-class {
    border: #0E3B00 3px solid;
    padding: 10px;
}

.img-v-html {
    width: 700px;
    object-fit: cover;
    border: white 5px solid;
}

.img-v-bind {
    width: 700px;
    object-fit: cover;
    border: black 5px solid;
}

.div-prova {
    margin-top: 2em;
}

.btn_saluti {
    background-color: #A3B434;
    border: #0E3B00 3px solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin-inline: 0.5em;
    color: #0E3B00;
    font-weight: bold;
}

.btn_saluti:hover {
    background-color: #84922b;
}