body {
    background-color: grey;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: violet;
    text-shadow: black 3px 3px;
}